.player {
    height: 608px !important;
}

.portrait {
    height: 100%;    
    display: block;
    border: 1mm ridge black !important;
}

.input-border {
    border: 1mm ridge black;
}

.input-border-stress {
    border-bottom: 1mm ridge black;
    border-right: 1mm ridge black;
    border-left: 1mm ridge black;
}

.span-border {
    border-left: 1mm ridge black;
    border-right: 1mm ridge black;
}

.span-border-f {
    border-left: 0.5mm ridge black;
    border-right: 1mm ridge black;
}


/** Progress bar **/
.progressbar-back {
    width: 50px;
    height: 100%;
    background-color: lightgray;
    display: inline-block;
    position: relative;
    border: 1mm ridge black;
}

.progressbar-back-stress {
    width: 50px;
    height: 100%;
    background-color: lightgray;
    display: inline-block;
    position: relative;
    border-top: 1mm ridge black;
    border-bottom: 1mm ridge black;
    border-right: 1mm ridge black;
}

.progressbar-back-stress-aymeric {
    width: 50px;
    height: 100%;
    background-color: lightgray;
    display: inline-block;
    position: relative;
    border-top: 1mm ridge black;
    border-bottom: 1mm ridge black;
    border-left: 1mm ridge black;
}

.progressbar-hp-front {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: #28a745;
}

.progressbar-stress-front {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: #dc3545;    
}

.first-player-margin {
    width: 10px;
    display: inline-block;
}

.second-player-margin {
    width: 14px;
    display: inline-block;
}

/** Overlay **/
.overlay {
    transition: 0.5s ease;
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: 1mm ridge blue;
    margin-left: 0.5px;
}

/** ID Card **/
.signature {
    width: 300px;
    height: 65px;
}

.identity {
    background-color: lightblue;    
}

.identity h2 {
    background-color: blue;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 10px;
}

.identity dt {
    color: blue;
    padding-left: 10px;
}

.identity dd {
    color: black;
}

/** Stats **/
.stats-header {
    color: white;
    background-color: blue;
}

/** FA Color **/
.heartbeat-color {
    color: darkred;
}

.heart-color {
    color: darkgreen;
}

/** Tools **/
.tools-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/** https://github.com/volcanioo/Human-Body-Rendering-HTML **/

.human-body {
    position: relative;
    height: 500px;
    display: block;
    margin: 10px auto;
}

.human-body svg:hover {
    cursor: pointer;
}

/** Adding hover/selected color **/
.human-body .selected {
    fill: darkred;
}

.human-body svg:hover path {
    fill: darkred;
}

.human-body svg {
    position: absolute;
    left: 50%;    
    stroke-width: 2px;
    stroke: darkred;
}

.human-body svg#head {
    margin-left: -28.5px;
    top: -6px;
}

.human-body svg#left-shoulder {
    margin-left: -53.5px;
    top: 69px;
}

.human-body svg#right-shoulder {
    margin-left: 13.5px;
    top: 69px;
}

.human-body svg#left-arm {
    margin-left: -78px;
    top: 112px;
}

.human-body svg#right-arm {
    margin-left: 38px;
    top: 112px;
    z-index: 10001;
}

.human-body svg#chest {
    margin-left: -43.5px;
    top: 88px;
}

.human-body svg#stomach {
    margin-left: -37.5px;
    top: 130px;
}

.human-body svg#left-leg {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}

.human-body svg#right-leg {
    margin-left: 1.5px;
    top: 205px;
    z-index: 9999;
}

.human-body svg#left-hand {
    margin-left: -102.5px;
    top: 224px;
}

.human-body svg#right-hand {
    margin-left: 66.5px;
    top: 224px;
    z-index: 10000;
}

.human-body svg#left-foot {
    margin-left: -35.5px;
    top: 455px;
}

.human-body svg#right-foot {
    margin-left: 5.5px;
    top: 455px;
}